

.topo li{
    display: inline;
    padding: 15px;
    font-size: 20px;
}.topo a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(174, 20, 221);

}.topo li a:hover{
    font-size: 25px;
    color: rgb(251, 255, 0)
    
}
.img1{
    border-radius: 50%;
    align-items: flex-end;
    align-content: center;
    padding: 27px;
}
.img2{
    border-radius: 50%;
    align-items: flex-end;
    align-content: center;
    padding: 27px;
}
.img3{
    border-radius: 50%;
    align-items: flex-end;
    align-content: center;
    padding: 27px;
}.banner{
    border-radius: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: orangered;
    width: 95%;
    margin: 0 auto;
    padding-right: 0%;
   
}.banner2{
    display: flex;
    border-radius: 21px;
    justify-content: space-between;
    align-items: center;
    background: #a51b1b;
    width: 95%;
    margin: 0 auto;  
}.banner3{
    border-radius: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(201, 0, 43);
    width: 95%;
    margin: 0 auto;  
}.contato{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:none;
    width: 95% ;
    margin: 0% auto; 
    
}.tamanhoform{
    font-size:20px;
    width: 50px;
    margin: 0%;
}.fundo{
    background-color: #63024a;
}.cor{
   
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}.tamanholetra{
    font-size: 23px;
    padding-left: 30px;
    padding-right: 30px;

}.centro{
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}.logos{
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 50px;
    width: 50px;
}.cop{
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  
}.video{
    width: 59%;
    aspect-ratio: 16/9;
    margin: auto;
    display: block;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

 }