

.topo li{
    display: inline;
    padding: 15px;
    font-size: 20px;
}.topo a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(174, 20, 221);

}.topo li a:hover{
    font-size: 25px;
    color: rgba(232, 213, 42, 0.897)
    
}
.img1{
    border-radius: 50%;
    align-items: flex-end;
    align-content: center;
    padding: 27px;
}
.img2{
    border-radius: 50%;
    align-items: flex-end;
    align-content: center;
    padding: 27px;
}
.img3{
    border-radius: 50%;
    align-items: flex-end;
    align-content: center;
    padding: 27px;
}.banner{
    border-radius: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding-right: 0%;
   
}.banner2{
    display: flex;
    border-radius: 21px;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;  
}.banner3{
    border-radius: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;  
}.contato{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:none;
    width: 95% ;
    margin: 0% auto; 
    
}.tamanhoform{
    font-size:20px;
    
    margin: 0%;
}.fundo1{
    background-image: linear-gradient(  #0eb7b1 ,#7a775b, #7c5294,  #cfbf80e4, #3d50ceeb);
}.fundo2{
    background-image: linear-gradient(  #0eb7b1 , #a9b791df,#6e9042, #71aa81, #3d50ceeb);
}.fundo3{
    background-image: linear-gradient( #14d6d0 , #db564a,#c8bc55f7, #7c5b93, #3d50ceeb);
}.titulo{
    border-radius: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient( #5290b4, #26b4af);
    width: 40%;
    margin: 0 auto;
    padding-right: 0%;
}.tamanholetra{
    font-size: 23px;
    padding-left: 30px;
    padding-right: 30px;

}.centro{
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}.logos{
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 50px;
    width: 50px;
}.cop{
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  
}.video{
    width: 59%;
    aspect-ratio: 16/9;
    margin: auto;
    display: block;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

